{#
_______________________________________________________________________________

                            HEADER DU PORTFOLIO
_______________________________________________________________________________
#}

<!-- -------- -->
<!-- HEADER : -->
<!-- -------- -->


<header class="container-fluid py-2 background-header">

<div class="container">
    <div class="row">
        <!-- Logo : -->
        <div class="col-md-4 m-0 p-0 align-content-center text-center">
            <a href="{{ SITEURL }}/" title="Page d'accueil" class="navbar-brand">
                <img src="{{ SITEURL }}/theme/logo/logo_PBS-royalBlue.png" alt="logo du portfolio" style="height: 80px;">
            </a>
        </div>

        <div class="col-8 m-0 p-0 align-content-center text-center d-none d-md-block">
            <h1 class="m-0 p-0 ">{{ SITENAME }}</h1>

            <p class="m-1 p-0">
                <i>{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</i>
            </p>

            <div class="mt-2">
                <a href="https://github.com/KendyCode" class="btn btn-outline-light btn-sm" target="_blank" title="GitHub">
                    <i class="fab fa-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/kendy-milius/" class="btn btn-outline-info btn-sm" target="_blank" title="LinkedIn">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>

</div>
    
</header>


<!-- NAVBAR : -->
<div class="container-fluid m-0 p-0 sticky-top bg-dark shadow">
    {% include 'includes/navbar.html' %}
</div>